@model IEnumerable<Morgenmadsbuffeten.Models.DataFromReception>

@{
    ViewData["Title"] = "ListAllGuetstsByDate";
}

<h1>ListAllGuetstsByDate</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Total
            </th>
            <th>
                Total adults
            </th>
            <th>
                Total Children
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @ViewData["date"]
            </td>
            <td>
                @ViewData["total"]
            </td>
            <td>
                @ViewData["totalAdults"]
            </td>
            <td>
                @ViewData["totalChildren"]
           
            </td>
        </tr>
    </tbody>
</table>
