@model IEnumerable<Morgenmadsbuffeten.Models.DataFromRestaurant>

@{
    ViewData["Title"] = "List of guests checked in";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New Check In</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumbersOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumbersOfChildren)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumbersOfAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumbersOfChildren)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DataFromRestaurantId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DataFromRestaurantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DataFromRestaurantId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
